html, body{
  margin: 0;
}

body{
  background: #F5F7FB;
  box-sizing:border-box;
  color: #293264;
  font-family: "Inter"
}

#root{
  position:relative;
  min-height: 100vh;
  display:flex;
  justify-content:center;
  
}

button{
  font-family: "Inter";
  cursor:pointer;
}

.blob-background{
  width: 100%;
  min-height: 100%;
  position:absolute;
  z-index: -1;
  overflow:hidden;
}

.blob-background .blob {
  position:absolute;
  width: 15%;
  max-width: 100vh;
}

.blob-background .blob-one{
  position:absolute;
  right: 0;
  top: 0;
}

.blob-background .blob-two{
  position:absolute;
  bottom: 0;
  left: 0;
}


.input--invisible{
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
}

.input--invisible + label{
  display:inline-block;
  font-family: "Inter";
  font-size: .75rem;
  color:inherit;
  min-width: 4.125em;
  padding: .35em .7em;
  border-radius: 0.8em;
  border: .79px solid #4D5B9E;
  box-sizing: border-box;
  text-align:center;
  user-select: none;
}

.input--invisible:checked + label{
  background-color: #cadaeb;
  border-color: #bfd0e0;
}

.input--invisible:focus + label{
  background-color: #e4deb3;
  border-color: #e4deb2;
}

.input--invisible:disabled + label:not(.correct){
  color:#8F94AF;
  border-color: #8F94AF;
}

.input--invisible:checked + label.incorrect{
  background-color: #F6D9DB;
  border-color: #F6D9DB;
}

.input--invisible + label.correct{
  background-color: #94D7A2;
  border-color: #94D7A2;
}

@media(min-width: 720px){
  .input--invisible + label{
    font-size: 1rem;
  }
}



